:root {
	--white: hsl(0, 0%, 100%);
	--dark: hsl(216, 12%, 8%);
	--darkLight: #222933;
	--star: #262f38;
	--text: hsl(217, 12%, 63%);
	--submit: hsl(25, 97%, 53%);
	--selected: hsl(217, 12%, 63%);
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
}

body {
	background-color: var(--dark);
	color: var(--white);
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.card1 {
	align-self: center;
	width: 41.3rem;
	height: 41.3rem;
	padding: 3rem 3.9rem 3.5rem 3.5rem;
	border-radius: 3rem;
	background: rgb(23, 30, 40);
	background: linear-gradient(
		30deg,
		rgba(23, 30, 40, 1) 0%,
		rgba(26, 33, 43, 1) 50%,
		rgba(32, 39, 49, 1) 100%
	);
	overflow: hidden;
}

.card1__img {
	height: 5rem;
	width: 5rem;
	padding: 2rem;
	border-radius: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--star);
}

.card1__title {
	font-size: 2.6rem;
	font-weight: 600;
	margin: 3rem 0 1.5rem 0;
}

.card1__text {
	font-size: 1.5rem;
	line-height: 2.4rem;
	margin-bottom: 2.8rem;
	color: var(--text);
}

.container-numbers {
	display: flex;
	justify-content: space-between;
}

/* Buttons */
.container-numbers__button {
	width: 5rem;
	height: 5rem;
	border: none;
	border-radius: 2.5rem;
	background-color: var(--star);
	color: var(--text);
	margin-bottom: 3.2rem;
	cursor: pointer;
}
.container-numbers__button:hover {
	transition-duration: 250ms;
	background-color: var(--submit);
	color: var(--white);
}

/* Class selected */
.container-numbers .selected {
	background-color: var(--selected);
	color: var(--white);
}

.card1__submit {
	width: 100%;
	height: 4.5rem;
	color: var(--white);
	border: none;
	border-radius: 2.5rem;
	background-color: var(--submit);
	cursor: pointer;
	letter-spacing: 0.2rem;
	font-weight: 700;
}

.card1__submit:hover {
	transition-duration: 500ms;
	background-color: var(--white);
	color: var(--submit);
}

/*        */
/* Card 2 */
/*        */

.card2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 41.3rem;
	height: 41.3rem;
	padding: 0 3.8rem 0rem 3.8rem;
	border-radius: 3rem;
	background: rgb(23, 30, 40);
	background: linear-gradient(
		30deg,
		rgba(23, 30, 40, 1) 0%,
		rgba(26, 33, 43, 1) 50%,
		rgba(32, 39, 49, 1) 100%
	);
}

.card2__container-img {
	margin-bottom: 3rem;
}

.card2__subtitle {
	text-align: center;
	color: var(--submit);
	background-color: var(--darkLight);
	border-radius: 2rem;
	font-size: 1.4rem;
	padding: 0.8rem 2rem;
}

.card2__title {
	font-size: 2.5rem;
	margin-top: 3.5rem;
	margin-bottom: 1.4rem;
}

.card2__text {
	text-align: center;
	color: var(--text);
	font-size: 1.5rem;
	line-height: 2.4rem;
}

.card--hide {
	display: none;
}

/*  */
/*  */

@media (max-width: 375px) {
	.card1 {
		width: 32.5rem;
		height: 36rem;
		padding: 1.5rem 2.5rem 3.5rem 2.3rem;
		border-radius: 5%;
	}

	.card1__img {
		height: 2.5rem;
		width: 2.5rem;
		margin-top: 1rem;
	}

	.card1__title {
		font-size: 2.2rem;
		margin: 1.8rem 0 1.5rem 0;
	}

	.card1__text {
		font-size: 1.4rem;
		line-height: 2.3rem;
		margin-bottom: 2.5rem;
	}

	.container-numbers__button {
		width: 4.2rem;
		height: 4.2rem;
		margin-bottom: 2.4rem;
	}

	.card1__submit {
		font-size: 1.2rem;
	}

	/*        */
	/* Card 2 */
	/*        */

	.card2 {
		width: 32.5rem;
		height: 36rem;
		padding: 3.5rem 2.5rem 3.5rem 2.3rem;
		border-radius: 2rem;
	}

	.card2__container-img {
		margin-bottom: 2rem;
	}

	.card2__img {
		height: 9.5rem;
		width: auto;
	}

	.card2__subtitle {
		width: 17rem;
		font-size: 1.4rem;
		padding: 0.8rem;
	}

	.card2__title {
		margin-top: 2.8rem;
		margin-bottom: 1.2rem;
		font-size: 2.3rem;
		font-weight: 700;
	}

	.card2__text {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}
